version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "5173:5173"
    env_file: .env
    environment:
      - VITE_API_URL=http://backend:8080
    depends_on:
      - backend
    networks:
      - finance-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8080:8080"
    env_file: .env
    networks:
      - finance-network

networks:
  finance-network:
    driver: bridge
